[submodule "src/external/rltk"]
	path = src/external/rltk
	url = https://github.com/thebracket/rltk
[submodule "src/external/sfml"]
	path = src/external/sfml
	url = https://github.com/SFML/SFML
[submodule "src/external/lua"]
	path = src/external/lua
	url = https://github.com/LuaDist/lua
[submodule "src/external/zlib"]
	path = src/external/zlib
	url = https://github.com/madler/zlib
